<div id='container' ng-controller="ShortenController">
<!-- Your code here -->
  <div class = "navigation">
    <ul>
      <li><a href="#/links">Links</a></li>
      <li><a href="#/shorten">Shorten URL</a></li>
    </ul>
  </div>
	  <form name ="shortenForm">
    <input type='url' name='theLink' ng-model="newLink" required>
        <button submit ng-click="addLink()">Add Link</button>
        <span class="error" ng-show="shortenForm.theLink.$error.url">Not valid url!</span>
     </form>

</div>


